body{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    flex: 30%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.headerimg{
    height: auto;
    width: 100%; 
}

h1{
    text-align: center;
    padding-top: 10px;

}
p{ 
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.main-flex{
    display: flex;
    flex-wrap: wrap;
}

.maintext{
    flex: 50%;
}

.mainimg{
    flex: 50%;
    width: 90%;
    text-align: center;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.row{
    font-size: 16px;
    text-align: center;
}

.staffimg{
    width: 100%;
}
.footer{
    background-color: rgba(0, 0, 0, 0.80);
    padding: 15px;
    font-family: Arial;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}



.footer li{
    color: white;
    text-decoration: none;
    opacity: 1;
    font: 16px arial;
    margin: px 10px;
    padding: 4px 6px; /* space between elements */
}

.footer-bottom{
    text-align: center;
    color: darkgray;
}
