
.allcontent{
margin-top: 50px;
margin-right: 200px;
margin-left: 200px;
}

.headerimg{
    height: auto;
    width: 100%; 
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
p{ 
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.maintext{
    margin: auto;
    width: 50%;
    margin-left: 20px;
}

.mainflex{
    display: flex;
    flex-direction: row;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

