.contents{
margin-top: 50px;
margin-right: 200px;
margin-left: 200px;
}

.headerpic{
    padding-top: 45px;
    margin-left: -10px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
.info{ 
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.mainpicture{
    padding-top: 10px;
    margin-left: 200px;
}

.staffpics{
    margin-left: 75px;
    margin-right: 75px;
}