
@media all and (max-width: 1000px and min-width: 700px){
.allcontent{
margin-top: 50px;
margin-right: 200px;
margin-left: 200px;
margin-bottom: 50px;
    }
}

.headerimg{
    height: auto;
    width: 100%; 
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
p{ 
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.maintext{
    margin: auto;
    width: 50%;
    margin-left: 20px;
}

.main-flex{
    display: inline-flex;
    flex-direction: row;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.staff{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 50px;
}

.description{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.staff img{
    width: 100%;
    display: inline-block;
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
}

