body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.contents{
margin-top: 50px;
margin-right: 200px;
margin-left: 200px;
}

.headerimg{
    height: auto;
    width: 100%; 
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
p{ 
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mainpicture{
    padding-top: 10px;
    margin-left: 200px;
}

.staff-row{

}
