*{
    margin: 0;
    padding-top: 20px;
    box-sizing: border-box;

}
body{
    background-color:#E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.image{
    background-image: url("./teemu-paananen-bzdhc5b3Bxs-unsplash.jpeg");
    height: 500px;
    width: 100%;

    
}

.events{
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;

}
.dateTime{
    width: 100%;
    height: auto;
    flex: 40%;
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: wheat;
    background-color: #000;
    opacity: 0.9;
    background-image: url("./background.jpg");
}
.details{
    width: 100%;
    height: auto;
    flex: 60%;
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.details p{
    margin-bottom: 20px;
}