*{
    margin: 0;
    box-sizing: border-box;
}
body{
        background-color:lightgray;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 16px;
          
}
h2{
    text-decoration: underline;
    text-transform: capitalize;
    text-transform: uppercase;
}

.image{
    background: url("./team-386673_1280.jpeg") no-repeat center;
    
    background-size: auto;
    
    height: 400px;
    width: 58%;
    /*padding-top: 400px;*/
    margin-left: auto;
    margin-right: auto;
    
    
    border-radius: 20px 20px 0px 0px;

    
    
}

.events{
    width: 58%;
    height: auto;
    display: flex;
  
    justify-content:  space-around;
    margin: auto;
    padding: 0px;
    margin-bottom: 30px;
}
.details{
    width: 100%;
    height: auto;
    flex: 60%;
    box-shadow: 0 -8px 0px -10px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 20px 0px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color:rgba(130, 130, 130, 0.8);
}
.dateTime{
    width: 100%;
    height: auto;
    flex: 20%;
    box-shadow: 0 -8px 0px -10px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 0px 20px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(130, 130, 130, 0.8);
    
}
.event2{
    width: 58%;
    height: auto;
    display: flex;
    justify-content:  space-around;
    margin: auto;
    padding: 0px;
    margin-bottom: 30px;
}
.image2{
    background: url("./audience-828584_1280.jpg") no-repeat center;
    
    background-size: auto;
    
    height: 400px;
    width: 58%;
    /*padding-top: 400px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0px 0px;
}
.event3{
    width: 58%;
    height: auto;
    display: flex;
    justify-content:  center;
    margin:auto;
    padding: 0px;
    margin-bottom: 80px;
}
.mainEvent{
    font-weight: 20px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
}
.info2 {
    padding: 0;
    margin:0;
    font-weight: 20px;
    text-align: center;
    color:black;
    padding-bottom: 20px;
    
}
.info{
    padding: 20px;
    margin:40px;
    font-weight: 20px;
    text-align: center;
    color:black;
    padding-bottom: 20px;

}
.info h2{
    padding-top: 20px;
}

.image3{
    background: url("./workplace-1245776_640.jpg") no-repeat center;
    background-size: auto;
    height: 400px;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 0px 0px;
}
.details p{
    margin-top: 20px;
    padding: 0;
    font-family: sans-serif;
}
.details h1{
    margin:0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: sans-serif;
}
.dateTime p{
    margin-top: 20px;
    padding: 0;
    font-family: sans-serif;
}
.dateTime h1{
    margin:0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: sans-serif;
}
.footer{
    background-color: rgba(0, 0, 0, 0.80);
    padding: 15px;
    font-family: Arial;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media (max-width: 550px){
    .events {
        flex-direction: column;
    }
    .events .dateTime {
        padding: 0;
        border-radius: 0px 0px 0px 0px;
        
    }
    .events .details{
        padding: 10px;
        border-radius: 0px 0px 8px 8px;
    }
    .event2{
        flex-direction: column;
        
    }
    .event2 .dateTime {
        padding: 0;
        border-radius: 0px 0px 0px 0px;
        
    }
    .event2 .details{
        padding: 10px;
        border-radius: 0px 0px 8px 8px;
    }
    .event3{
        flex-direction: column;
    }
    .event3 .dateTime {
        padding: 0;
        border-radius: 0px 0px 0px 0px;
        
    }
    .event3 .details{
        padding: 10px;
        border-radius: 0px 0px 8px 8px;
    }

    
}