*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styles the entire div element */
.navbar
{
    font-family: Arial;
    padding: 15px;
    text-align: center;
    background: #E0E0E0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}
/* styles the links */
.navbar a
{
    color: grey;
    text-decoration: none;
    font: 20px arial;
    margin: 0px 10px;
    padding: 14px 16px; /* space between elements */
    
}
/* when hovering */
.navbar a:hover {
    color: black;
}
/* when clicking link */
.navbar a:active {
    background-color: white;
    color: darkgoldenrod;
}
.navbar li{
    display: inline;
}

