
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.contents{
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.headerimg{
    height: auto;
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}
p{
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* styles the entire div element */
div.navbar
{
    font-family: Arial;
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.80);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* styles the links */
.navbar a
{
    color: white;
    text-decoration: none;
    opacity: 1;
    font: 20px arial;
    margin: 0px 10px;
    padding: 14px 16px; /* space between elements */
}
/* when hovering */
.navbar a:hover {
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
/* when clicking link */
.navbar a:active {
    background-color: white;
    color: darkgoldenrod;
}

.wrapper {
margin: 0 auto 0 auto;
    width: auto;
    background-color: red;

}

.footer{
    background-color: rgba(0, 0, 0, 0.80);
    padding: 15px;
    font-family: Arial;
    top: 0; /* Position the navbar at the top of the page */
    width: auto; /* Full width */

}
.footer .footer-content{
    height: 175px;
    display: flex;
}


}

.footer li{
    color: white;
    text-decoration: none;
    opacity: 1;
    font: 16px arial;
    margin: px 10px;
    padding: 4px 6px; /* space between elements */
}

.footer-bottom{
    text-align: center;
    color: darkgray;
}

@media (max-width: 700px){


}