/**
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
.header{
    height: auto;
    width: 100%; 
    opacity: 0.9;
    
}
body {
    background-color: black;
}
/*html, body{

    height: 100%;
    align-items: center;
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");

}*/

.container{
    width: 50%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);



    /*position: absolute;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
    
    

.kart{
    width: 100%;
    height: auto;
    flex: 50%;
    
    
}
.kart iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
.kontaktskjema{
    width: 100%;
    color: grey;
    height: auto;
    flex: 40%;
    padding: 30px;
    text-align: center;
}
.kontaktskjema h1{
    margin-bottom: 20px;
    
}

.kontaktskjema-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    
}
.kontaktskjema-txt::placeholder{
    color: #aaa;
}
.kontaktskjema-textarea{
    width: 100%;
    height: 100px;
    color: #000;
    border: 1px solid #bcbcbc; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    
}
/*Styling av text inne i meldingsboksen*/
.kontaktskjema-textarea::placeholder{
    color: #aaa;
}
/*Styling av send inn knappen*/
.kontaktskjema-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#333;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    
}
/*Styling av knapp når musepeker hover*/
.kontaktskjema-btn:hover{
    color: white;
    background-color: black;
}
.image {
    background-image:
            url("P35-i-høstfarger-foto-Benjamin-Ward-2018-30284435177_272250121c_o-2400x1200px.jpg");
    padding: 10em 0;
    background-size: cover;
    background-position: center;
width: max-width 100%;
    height: auto;
}
